{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}Hey welcome to my blogs page
<style>
    body{
        background:#041C32;
    }

</style>
{% comment %} <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

<div class="card h-100 border-primary justify-content-center" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card mb-3 my-5 px-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
 {% endcomment %}



  <div class="album  bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/ubuntu_img.png" alt="Description for image" width="100%" height="100%"></img>
            <div class="card-body">
              <p class="card-text">Duel-booting Windows desktop to install Ubuntu</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='https://medium.com/@anshuman8swain/duel-booting-windows-desktop-to-install-ubuntu-69ce881acaf4'>  <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
                <small class="text-muted">12 nov 2021</small>
              </div>
            </div>
          </div>
        </div>


        {% comment %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/img.png" alt="Description for image" width="100%" height="100%"></img>
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='' ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}
    </div>
  </div>
{% endblock body %}